<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Portada de página</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css">
  </head>
  <h1>Inicio de adopciones</h1>
  <body>
    <a href="{{ url_for('estadisticas') }}">Estadísticas</a>
    <a href="{{ url_for('listadoAdopciones', page='1') }}">Ver Listado de adopciones</a>
    <a href="{{ url_for('formulario') }}">Agregar aviso de adopción</a>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

    {% if adopciones %}
    <table>
  <tr>
    <th>Fecha publicación</th>
    <th>Comuna</th>
    <th>Sector</th>
    <th>Cantidad Tipo <br></br>edad</th>
    <th>Foto</th>
  </tr>
    {% for adop in adopciones %}
    <tr>
    <th>{{ adop.fecha_ingreso }}</th>
    <th>{{ adop.comuna_id }}</th>
    <th>{{ adop.sector }}</th>
    <th>{{ adop.cantidad }} {{ adop.tipo }} 
      <br></br>{{ adop.edad }} {{ adop.unidad_medida}}
    </th>
    <th>
      <img src="{{ adop.fotos[0].ruta_archivo }}" width="150" height="150">
    </th>
  </tr>
    {% endfor %}
    </table>
    {% endif %}
    <!---->
    {% if not adopciones %}
    <div id="no-adopciones">
      <h2>No hay avisos de adopciones actualmente</h2>  
    </div>
    {% endif %}
    <script lang="javascript" src=""></script>
  </body>
</html>