<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Detalles de adopcion</title>
    <link rel="stylesheet" type="text/css" href="../static/css/totalInfo.css">
  </head>
  <body>

    <h1>Detalles de adopción</h1>
    <ul>
      <li>Fecha publicación:{{ adopcion.fecha_ingreso }}</li>
      <li>Fecha entrega: {{ adopcion.fecha_entrega }}</li>
      <li>Comuna: {{ adopcion.comuna_id }}</li>
      <li>Sector: {{ adopcion.sector }}</li>
      <li>Cantidad Tipo edad: {{ adopcion.cantidad }} {{ adopcion.tipo }}, {{ adopcion.edad }} {{ adopcion.unidad_medida }}
      </li>
      <li>Nombre dueño temporal: {{ adopcion.nombre }}</li>
      <li>medio contacto: {{ contacto.nombre }}</li>
      <li>link de contacto: {{ contacto.identificador }}</li>
      <li>número telefónico: {{ adopcion.celular }}</li>
      <li>Descripción: {{ adopcion.descripcion }}</li>
    </ul>

    <div id="fotos-detalles-div">
    {% for f in fotos %}

    <div class="foto-info">
        <img src="/{{ f.ruta_archivo }}" width="240" height="320" class="foto-detalle">
    </div>

    {% endfor %}
    </div>

    <div id="foto-adopcionActual" class="foto-adopcionActual" hidden>
        <img width="600" height="800">
        <button id="close-foto">X</button>
    </div>
    
    <a href="{{ url_for('listadoAdopciones', page=page )}}">Volver a la lista de adopciones</a>
    <a href="{{ url_for('index')}}">Volver a la portada</a>
    <script lang="javascript" src="../static/javascript/fotoEspecial.js"></script>
  </body>
</html>