<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Todas las adopciones actuales</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/lista.css">
  </head>
  
  <body>
    <h1>Lista de adopciones</h1>
    <a href="{{ url_for('index') }}">Volver a la portada</a>

    {% if avisos %}
    <table>
      <tr>
    <td>Fecha publicación</td>
    <td>Fecha entrega</td>
    <td>Comuna</td>
    <td>Sector</td>
    <td>Cantidad Tipo edad</td>
    <td>Nombre Contacto</td>
    <td>foto</td>
      </tr>
      {% for adopt in avisos %}
    <tr onclick="window.location.href= '{{url_for('detallesAdopcion', page=page, detalle=adopt.id)}}'">
    <td>{{ adopt.fecha_ingreso }}</td>
    <td>{{ adopt.fecha_entrega }}</td>
    <td>{{ adopt.comuna_id }}</td>
    <td>{{ adopt.sector }}</td>
    <td>{{ adopt.cantidad }} {{ adopt.tipo }}, {{ adopt.edad }} {{adopt.unidad_medida}}</td>
    <td>{{ adopt.nombre }}</td>
    <td>
      <img src="/static/uploads/{{ adopt.fotos[0].nombre_archivo }}" width="150" height="150" alt="">
    </td>
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <p>No hay adopciones actualmente</p>
    {% endif %}

    <div class="paginacion">
      <div class="retroceso">
      {% if anteriores %}
      {% for a in anteriores %}

      <span class="retroceso">
        <a href="{{url_for('listadoAdopciones', page=a ) }}">{{ a }}</a>
      </span>

      {% endfor %}
      <a href="{{ url_for('listadoAdopciones', page=anteriores[-1:]) }}">ir a la lista anterior</a>
      {% endif %}
        </div>

      {% if page %}
      <span class="pagina-actual">pagina actual: {{ page }}</span>
      {% endif %}

        <div class="avance">
      {% if siguientes %}
      <a href="{{ url_for('listadoAdopciones',page=siguientes[0]) }}">ir a la siguiente lista</a>

      {% for sig in siguientes %}

      <span class="avance">
        <a href="{{ url_for('listadoAdopciones', page=sig) }}">{{ sig }}</a>
      </span>
      {% endfor %}
      {% endif %}
      </div>
    </div>

  </body>
</html>