<!DOCTYPE html>
<html lang="es">
  <head>
  <title>Todas las adopciones actuales</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/lista.css">
  </head>
  <h1>Lista de adopciones</h1>
  <body>
    <a href="{{ url_for('index') }}">Volver a la portada</a>
    {% if avisos %}
    <table>
      <tr>
    <th>Fecha publicación</th>
    <th>Fecha entrega</th>
    <th>Comuna</th>
    <th>Sector</th>
    <th>Cantidad Tipo edad</th>
    <th>Nombre Contacto</th>
    <th>foto</th>
    <th>información Completa</th>
      </tr>
      {% for adopt in avisos %}
      <tr>
    <th>{{ adopt.fecha_ingreso }}</th>
    <th>{{ adopt.fecha_entrega }}</th>
    <th>{{ adopt.comuna_id }}</th>
    <th>{{ adopt.sector }}</th>
    <th>{{ adopt.cantidad }} {{ adopt.tipo }} {{ adopt.edad }}</th>
    <th>{{ adopt.nombre }}</th>
    <th>
      <img src="/{{ adopt.fotos[0].ruta_archivo }}" width="150" height="150">
    </th>
    <th>
      <a href="{{url_for('detallesAdopcion', page=page, detalle=adopt.id)}}"> información completa </a>
    </th>
    <!--<th> aqui debemos poner el redirect para el id del aviso</th>-->
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <p>No hay adopciones actualmente</p>
    {% endif %}

    <div class="paginacion">
      <div class="retroceso">
      {% if anteriores %}
      <a href="{{ url_for('listadoAdopciones', page=anteriores[-1:]) }}">ir a la lista anterior</a>
      {% for a in anteriores %}

      <span>
        <a href="{{url_for('listadoAdopciones', page=a ) }}">{{ a }}</a>
      <span>

      {% endfor %}
      {% endif %}
        </div>

      {% if page %}
      pagina actual: {{ page }}
      {% endif %}
        <div class="avance">
      {% if siguientes %}
        <a href="{{ url_for('listadoAdopciones',page=siguientes[0]) }}">ir a la siguiente lista</a>
      {% for sig in siguientes %}

      <span>
        <a href="{{ url_for('listadoAdopciones', page=sig) }}">{{ sig }}</a>
      <span>

      {% endfor %}
      {% endif %}
      </div>
    </div>

  </body>
</html>